@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #222;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #222;
}

img{
    vertical-align: top;
    border: 0;
}
/* ==================================================== */
#container{
    /* background-color: aliceblue; */
    margin-top: 10px;
}

#container #commonManagment{
    /* background-color: antiquewhite; */
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid #222; */
    padding: 10px;
}



/* 사용자등록현황 검색 */

#commonManagment #commonTitle{
    width: 980px;
    border-bottom: 2px solid #222;
    margin-bottom: 10px;
}

#commonTitle span{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
    border: 2px solid #222;
    border-bottom: none;
}

#commonManagment .scBar{
    /* background-color: aqua; */
    margin-bottom: 10px;
}

.scBar ul{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    width: 484px;
}

.scBar ul li{
    /* background-color: beige; */
}

.scBar ul li span{
    display: inline-block;
    font-size: 15px;
    margin-top: 4px;
    margin-left: 7px;
}

.scBar ul .scList1{
    background-color: #eee;
    width: 120px;
    height: 30px;
    border: 1px solid #222;
}

.scBar ul .scList2 .formControl{
    padding: 0px 0px 0px 10px;
    width: 300px;
    height: 30px;
    border: 1px solid #888;
}

.scBar ul .scList2 .formControl:hover{
    border: 1px solid #222;
}

.scBar ul .scList2 .formControl:focus{
    border-color: #222;
    outline: 0;
    border-width: 1px;
}

.scBar ul .scList3 .btnControl{
    background-color: #474757;
    border: none;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 15px;
}

.scBar ul .scList3 .btnControl:hover{
    background-color: #2d2d38;
    cursor:pointer;
}


/* 사용자등록현황리스트 */
#commonManagment #jq{
	display: flex;	
	justify-content: space-between;	

}

#jq #grpCode{
	border: 2px solid #222;
	padding: 10px;
}

#jq #codeBtn{
	margin-bottom: 10px;
	margin-left: 120px;
	width: 340px;
	height: 25px;
}

#codeBtn .btnControl{
	background-color: #474757;
    border: none;
    width: 100px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
}

#codeBtn .btnControl:hover{
    background-color: #2d2d38;
    cursor:pointer;
}

#jq #code{
	border: 2px solid #222;
	padding: 10px;
}


#jq #codeBtn2{
	/* background-color: red; */
	margin-bottom: 10px;
	margin-left: 245px;
	width: 216px;
	height: 25px;
}

#codeBtn2 .btnControl2{
    background-color: #474757;
    border: none;
    width: 60px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
}

#codeBtn2 .btnControl2:hover{
    background-color: #2d2d38;
    cursor:pointer;
}

#commonManagment .codeListBox{
    /* background-color: rgb(210, 245, 177); */
    width: 980px; 
    height: 350px; 
    padding: 40px 10px 45px 10px;
    border : 2px solid #222;
    margin-bottom: 10px;
}

.codeListBox .codeListTable{
    /* background-color: rgb(211, 177, 245); */
    width: 100%; 
    height: 100%; 
    border : 2px solid #222;
    margin-bottom: 10px;
    overflow: auto;
    display: block;
}

.codeListTable table{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid #222;
    table-layout: fixed;
}

.codeListTable table th{
    background-color: #eee;
    position: sticky;
    top: 0;
    padding: 5px;
}

.codeListTable table td{
    height: 40px;
    text-align: center;
    padding-left: 5px;
    white-space:nowrap;
    text-overflow:ellipsis; 
    overflow:hidden
}

.codeListBox #codeBtn{
	/* background-color: blue; */
	margin-bottom: 10px;
	margin-left: 620px;
	width: 340px;
	height: 25px;
}



#commonManagment .codeDetailBox{
    /* background-color: aliceblue; */
    width: 980px; 
    padding: 10px;
    border : 2px solid #222;
    margin-top: 10px;
}

.codeDetailBox .codeDetailTable{
    /* background-color: antiquewhite; */
    width: 100%; 
    height: 100%; 
    border : 1px solid #222;
    margin-bottom: 10px;
    /* overflow: auto; */
}

.codeDetailTable table{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid #222;
    table-layout: fixed;

}

.codeDetailTable table th{
    background-color: #eee;
    padding: 5px;
    position: sticky;
    top: 0;
}

.codeDetailTable table td{
    height: 40px;
    text-align: center;
    padding: 10px;
    white-space:nowrap;
    text-overflow:ellipsis; 
    overflow:hidden
}

.codeDetailTable table td .formControl{
    padding: 0px 0px 0px 10px;
    width: 200px;
    height: 20px;
   	outline: none;
	border: none;
    text-align: center;
}

.codeDetailTable table td .formControl:hover{
    border: 1px solid #222;
}

.codeDetailBox .codeDetailBtn{
    /* background-color: aqua; */
    width: 300px;
    margin-left: 735px;
}

.codeDetailBox .codeDetailBtn2{
    /* background-color: aqua; */
    width: 300px;
    margin-left: 845px;
}

.codeDetailBox .codeDetailBtn3{
    /* background-color: aqua; */
    width: 110px;
    margin-left: 845px;
}

.codeDetailBtn .btnControl{
    background-color: #474757;
    border: none;
    width: 45px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
}

.codeDetailBtn .btnControl:hover{
    background-color: #2d2d38;
    cursor:pointer;
}

.codeDetailBtn2 .btnControl2{
    background-color: #474757;
    border: none;
    width: 45px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
}

.codeDetailBtn2 .btnControl2:hover{
    background-color: #2d2d38;
    cursor:pointer;
}

.codeDetailBtn3 .btnControl3{
    background-color: #474757;
    border: none;
    width: 45px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
}

.codeDetailBtn3 .btnControl3:hover{
    background-color: #2d2d38;
    cursor:pointer;
}

.codeDetailTable table td select{
    text-align: center;
    text-align-last: center;
    width: 200px;
    height: 30px;
    background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 5px) center no-repeat;
    background-size: 20px;
    border: 1px solid #888;
    outline: none;
}

.codeDetailTable table td select:hover{
    border: 1px solid #222;
}

.codeDetailTable table tdselect:focus{
    border-color: 222;
    outline: 0;
    border-width: 1px;
  }
  
.codeDetailTable table td select option{
    background: #222;
    color: #fff;
    padding: 3px 0;
}

/* ============================================ */

.codeListTable::-webkit-scrollbar {
    width: 13px;
}
.codeListTable::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.codeListTable::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.codeDetailTable::-webkit-scrollbar {
    width: 13px;
}
.codeDetailTable::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.codeDetailTable::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}