<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- db에서 null허용인데도 jdbc에서 null을 못받아드리는 에러가 발생할때 jdbc가 null을 이해할수 있도록 하는 설정 -->
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!-- 특정 클래스의 별칭을 지정 : type의 긴 이름의 BoardDTO를 alias의 그냥 board로 이름을 지정 -->
	<typeAliases>
		<typeAlias alias="UserDto" type="com.md.sys.domain.UserDto"/>
		<typeAlias alias="BoardDto" type="com.md.sys.domain.BoardDto"/>
		<typeAlias alias="CodeDto" type="com.md.sys.domain.CodeDto"/>
		<typeAlias alias="SearchCondition" type="com.md.sys.domain.SearchCondition"/>
		<typeAlias alias="Tsp05100Dto" type="com.md.sys.domain.Tsp05100Dto"/>
		<typeAlias alias="Tsp02210Dto" type="com.md.sys.domain.Tsp02210Dto"/>
		<typeAlias alias="TestDto" type="com.md.sys.domain.TestDto"/>
	</typeAliases>
	
</configuration>